@import url("./global.css");
:root {
  --gradient: linear-gradient(45deg, #ff7729 0%, #ddff44 100%);
}
h3 {
  background: var(--gradient);
  width: 80%;
  font-family: var(--poppins);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
footer {
  background: #2e2e2e;
  padding: 2rem 0rem 0.1rem 0rem;
  font-family: var(--roboto);
}
footer .footer--left .email--box {
  display: flex;
}
footer .footer--left .email--box input {
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  font-family: var(--roboto);
}
footer .footer--left .email--box input::placeholder {
  font-family: var(--roboto);
}
footer .footer--left .email--box button.footer--submit--btn {
  padding: 0.5rem;
  border: none;
  background: var(--gradient);
  font-weight: bold;
  color: var(--github);
  margin-left: 0.5rem;
}

footer .footer--left .email--box button.footer--submit--btn:hover {
  box-shadow: 3px 3px 0 #ffffff94;
}

footer .footer--left .social--icons a > i {
  font-size: 23px;
  padding: 0.6rem;
  background: var(--white);
  margin-top: 1.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

footer .footer--left .social--icons a > i:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

/* FOOTER MIDDLE PART */
footer .footer--middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer--middle svg {
  height: 60px;
  margin: 0;
}

/* FOOTER RIGHT PART */
footer .footer--right {
  float: right;
}

footer .footer--right h3 {
  width: 100%;
}

footer .footer--right .short--link--area {
  margin-left: 1rem;
}
footer .footer--right .short--link--area li {
  list-style-type: square !important;
  color: var(--white);
}
footer .footer--right .short--link--area li a {
  color: var(--white);
}
.copyright--text {
  font-family: var(--roboto);
  margin-top: 3rem;
}

@media only screen and (max-width: 800px) {
  footer .footer--left,
  .footer--middle,
  .footer--right {
    margin: 4rem 0rem;
  }
  footer .footer--left {
    margin-top: 2rem;
  }
  footer .footer--right {
    margin-bottom: 2rem;
  }
  footer .footer--middle {
    height: 100%;
    display: flex;
    justify-content: left;
    margin: 0rem;
  }
  footer .footer--right {
    float: left;
  }

  footer .copyright--text {
    margin-top: 1rem;
  }
}
