* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GLOBAL STYLING */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-thumb {
  background: var(--themeOrange);
  border-radius: 50vw;
  border: 0.2vw solid var(--white);
}

/* CSS VARIABLES */
:root {
  /* FONT FAMILY */
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-seri;

  /* COLOR */
  --white: #fff;
  --light-gray: #fcfcfc;
  --black: #000;
  --twitter: #1da1f2;
  --github: #333;
  --linkedin: #0e76a8;
  --themeOrange: #fa792e;
  --instagram: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

button:active,
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
