/* NAVIGATION STYLING */

header nav {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background: #ffffff;
  transition: 0.3s ease-in-out;
}

header nav .navigation--area {
  width: 90%;
  margin: auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid var(--github);
  transition: 0.2s ease-in-out;

  overflow-y: hidden;
}

header .navigation--area .nav-logo a img {
  height: 25px;
}
header .navigation--area .nav--link--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navigation--area .nav--links ul {
  display: flex;
}
header nav .navigation--area .nav--links ul li {
  margin: 0 1.5rem;
}

header .navigation--area .nav--links ul li a {
  color: #000;
  font-family: var(--roboto);
  position: relative;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

header .navigation--area .nav--links ul li a.activate {
  color: var(--themeOrange);
}
header .navigation--area .nav--links ul li a.activate::after {
  opacity: 1;
  top: 130%;
}
header .navigation--area .nav--links ul li a::after {
  content: "";
  background: var(--themeOrange);
  opacity: 0;
  height: 5px;
  width: 5px;
  border-radius: 50rem;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -20%);
  transition: all 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54);
}
header .navigation--area .nav--links ul li a:hover::after {
  opacity: 1;
  top: 130%;
  width: 15px;
}

header .navigation--area .social--links ul {
  display: flex;
  flex-direction: row;
}

header .navigation--area .social--links ul li {
  margin: 0 1rem;
}
header .navigation--area .social--links ul li a i {
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
header .navigation--area .social--links ul li a i#twitter {
  color: var(--twitter);
}
header .navigation--area .social--links ul li a i#github {
  color: var(--github);
}
header .navigation--area .social--links ul li a i#linkedin {
  color: var(--linkedin);
}
/* toogle bars */
header .navigation--area .toggle--bars {
  display: none;
}

header .navigation--area .toggle--bars.show {
  display: initial;
}

header
  .navigation--area
  .nav--link--area
  .social--links
  #twitter.social--icon--animate {
  font-size: 20px;
  opacity: 1;
  transition: 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54) 0.4s;
}
header
  .navigation--area
  .nav--link--area
  .social--links
  #github.social--icon--animate {
  font-size: 20px;
  opacity: 1;
  transition: 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54) 0.6s;
}
header
  .navigation--area
  .nav--link--area
  .social--links
  #linkedin.social--icon--animate {
  font-size: 20px;
  opacity: 1;
  transition: 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54) 0.8s;
}
