@import url("./global.css");
@import url("./navigation.css");
@import url("./loading.css");

/* HEADER AREA STYLING START */
/* HEADER CONTENT STYLING */
header .header--content {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .header--content .header--text--intro {
  height: 100vh;
  /* background: chartreuse; */
  font-family: var(--roboto);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header--content .header--text--intro .header--name {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
header .header--content .header--text--intro .header--sub--intro {
  font-size: 25px;
  color: var(--themeOrange);
  margin-bottom: 0;
}

header .header--content .header--text--intro .header--btn--gorup {
  margin-top: 2rem;
}
header .header--content .header--text--intro .header--btn--gorup button {
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-weight: bold;
}
header .header--content .header--text--intro .header--btn--gorup button:hover {
  box-shadow: 5px 5px 0px #dbdbdb;
}
header
  .header--content
  .header--text--intro
  .header--btn--gorup
  button.header--btn-1 {
  background-color: var(--themeOrange);
  color: var(--white);
}
header
  .header--content
  .header--text--intro
  .header--btn--gorup
  button.header--btn-2 {
  border: 1px solid var(--themeOrange);
  color: var(--themeOrange);
}



header .arrow--down i {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}
header .arrow--down i:hover {
  background: #ffecdb;
  color: var(--themeOrange);
  transform: scale(1.06);
}

/* HEADER AREA STYLING END */

/* SECTION--1 START */

section#section--1 {
  height: 100vh;
  background: var(--themeOrange);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
section .aboutme--section,
.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .aboutme--section .aboutme {
  margin-top: 2rem;
  font-family: var(--roboto);
  text-align: center;
  color: var(--white);
}
section .aboutme--section .aboutme .aboutme--para {
  padding: 0rem 10rem;
  margin: 1rem 0rem;
  font-size: 20px;
}

section .aboutme--section .aboutme h1.section--title {
  position: absolute;
  top: 10%;
  left: 0%;
  font-size: 200px;
  opacity: 20%;
  text-align: left;
  font-weight: bold;
}
section .aboutme--section .my--image {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 100%;
  z-index: 1;
  border: 3px solid var(--white);
}
section .aboutme--section .my--image img {
  height: 150px;
  transform: scale(1.1);
}
/* SECTION--1 END */
section#section--2 {
  height: 100vh;
}
/* SECTION--2 START */

/* SECTION--2 END */

/* RESPONSIVE DESING */
/* TABLET SCREEN */
@media only screen and (max-width: 800px) {
  /* SECTION--1 RESPONSIVE */

  section .aboutme--section .my--image {
    height: 110px;
    width: 110px;
  }
  section .aboutme--section .my--image img {
    height: 120px;
  }

  section .aboutme--section .aboutme .aboutme--para {
    padding: 0rem 1rem;
    margin: 0.5rem;
  }
}
/* MOBILE SCREEN */
@media only screen and (max-width: 500px) {
  /* RESPNSIVE NAVGATION */
  header nav.overlay-nav::after {
    content: "";
    background: #00000056;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -3;
    transition: all 1s ease-in-out;
  }
  header .navigation--area .nav--links ul li {
    margin: 0 !important;
    margin: 3rem 0rem !important;
    text-align: center;
    font-size: 20px;
  }
  header .navigation--area .nav--links ul li a::after {
    display: none;
  }
  header .navigation--area .nav--links ul {
    display: flex;
    flex-direction: column;
  }
  header .navigation--area .nav--link--area {
    background: var(--white);
    position: absolute;
    height: 95vh;
    width: 70%;
    top: 100%;
    border-right: 2px solid var(--github);
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transition: 1s cubic-bezier(0.42, 0, 0, 1.11);
  }

  header .navigation--area .nav--link--area.show {
    left: 0;
  }

  header .navigation--area .nav--link--area .social--links {
    margin: 2rem;
  }
  header .navigation--area .nav--link--area .social--links .social--icon {
    font-size: 0px;
    opacity: 0;
  }

  header .navigation--area .toggle--bars {
    display: initial;
  }
  header .navigation--area .toggle--bars .bar {
    height: 0.2rem;
    width: 30px;
    margin: 0.3rem;
    border-radius: 2px;
    background: var(--github);
  }

  /* RESPONSIVE HEADER SECTION */
  header .header--content .header--text--intro h1.header--name {
    font-size: 45px;
    text-align: center;
  }

  header .header--content .header--text--intro .header--btn--gorup {
    align-content: center;
  }

  header .header--content .header--text--intro .header--btn--gorup button {
    margin: 0.5rem 0rem;
  }

  header .arrow--down i {
    display: none;
  }

  /* RESPONSIVE SECTION */
  section#section--1 .aboutme--section .aboutme .aboutme--para {
    font-size: 15px;
    line-height: 1.6rem;
  }
}

@media only screen and (max-width: 350px) {
  header .navigation--area .nav--link--area {
    width: 80%;
  }
}
