@import url("./global.css");
@import url("./navigation.css");

/* HEADER AREA STYLING START */
/* header {
  background-image: url("../images/hero_background.jpg");
} */
/* HEADER CONTENT STYLING */
header .header--content {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .header--content .header--text--intro {
  height: 100vh;
  /* background: chartreuse; */
  font-family: var(--roboto);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header--content .header--text--intro .header--name {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
header .header--content .header--text--intro .header--sub--intro {
  font-size: 25px;
  color: var(--themeOrange);
  margin-bottom: 0;
}

header .header--content .header--text--intro .header--btn--gorup {
  margin-top: 2rem;
}
header .header--content .header--text--intro .header--btn--gorup button {
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-weight: bold;
}
header .header--content .header--text--intro .header--btn--gorup button:hover {
  box-shadow: 5px 5px 0px #dbdbdb;
}
header
  .header--content
  .header--text--intro
  .header--btn--gorup
  button.header--btn-1 {
  background-color: var(--themeOrange);
  color: var(--white);
}
header
  .header--content
  .header--text--intro
  .header--btn--gorup
  button.header--btn-2 {
  border: 1px solid var(--themeOrange);
  color: var(--themeOrange);
}

header .arrow--down i {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}
header .arrow--down i:hover {
  background: #ffecdb;
  color: var(--themeOrange);
  transform: scale(1.06);
}
/* HEADER AREA STYLING END */

/* SECTION--1 START */

/* SECTION--1 END */

/* RESPONSIVE DESING */
/* TABLET SCREEN */
@media only screen and (max-width: 800px) {
  /* SECTION--1 RESPONSIVE */
  section .section--container {
    flex-wrap: wrap;
  }
  section#section--1 .about--me p.section--intro--para {
    margin: 2rem 0rem;
  }
}

/* MOBILE SCREEN */
@media only screen and (max-width: 500px) {
  /* RESPNSIVE NAVGATION */
  header nav.overlay-nav::after {
    content: "";
    background: #00000056;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -3;
    transition: all 1s ease-in-out;
  }
  header .navigation--area .nav--links ul li {
    margin: 0 !important;
    margin: 3rem 0rem !important;
    text-align: center;
    font-size: 20px;
  }
  header .navigation--area .nav--links ul li a::after {
    display: none;
  }
  header .navigation--area .nav--links ul {
    display: flex;
    flex-direction: column;
  }
  header .navigation--area .nav--link--area {
    background: var(--white);
    position: absolute;
    height: 90vh;
    width: 70%;
    top: 100%;
    border-right: 2px solid var(--github);
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transition: 1s cubic-bezier(0.42, 0, 0, 1.11);
  }

  header .navigation--area .nav--link--area.show {
    left: 0;
  }

  header .navigation--area .nav--link--area .social--links {
    margin: 2rem;
  }
  header .navigation--area .nav--link--area .social--links .social--icon {
    font-size: 0px;
    opacity: 0;
  }

  header
    .navigation--area
    .nav--link--area
    .social--links
    #twitter.social--icon--animate {
    font-size: 20px;
    opacity: 1;
    transition: 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54) 0.4s;
  }
  header
    .navigation--area
    .nav--link--area
    .social--links
    #github.social--icon--animate {
    font-size: 20px;
    opacity: 1;
    transition: 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54) 0.6s;
  }
  header
    .navigation--area
    .nav--link--area
    .social--links
    #linkedin.social--icon--animate {
    font-size: 20px;
    opacity: 1;
    transition: 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54) 0.8s;
  }
  header .navigation--area .toggle--bars {
    display: initial;
  }
  header .navigation--area .toggle--bars .bar {
    height: 0.2rem;
    width: 30px;
    margin: 0.3rem;
    border-radius: 2px;
    background: var(--github);
  }

  /* RESPONSIVE HEADER SECTION */
  header .header--content .header--text--intro h1.header--name {
    font-size: 45px;
    text-align: center;
  }

  header .header--content .header--text--intro .header--btn--gorup {
    align-content: center;
  }

  header .header--content .header--text--intro .header--btn--gorup button {
    margin: 0.5rem 0rem;
  }

  header .arrow--down i {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  header .navigation--area .nav--link--area {
    width: 80%;
  }
}
