* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  /* FONT FAMILY */
  --roboto: "Roboto", sans-serif;

  /* COLOR */
  --white: #fff;
  --black: #000;
  --twitter: #1da1f2;
  --github: #333;
  --linkedin: #0e76a8;
  --themeOrange: #fa792e;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-thumb {
  background: var(--themeOrange);
  border-radius: 50vw;
  border: 0.2vw solid var(--white);
}

/* GLOBAL STYLING */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* HEADER AREA STYLING START */

header nav {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background: #ffffff;
  transition: 0.3s ease-in-out;
}

header nav .navigation--area {
  width: 90%;
  margin: auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid var(--github);
  transition: 0.2s ease-in-out;
}

header .navigation--area .nav--link--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navigation--area .nav--links ul {
  display: flex;
}
header nav .navigation--area .nav--links ul li {
  margin: 0 1.5rem;
}

header .navigation--area .nav--links ul li a {
  color: #000;
  font-family: var(--roboto);
  position: relative;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

header .navigation--area .nav--links ul li a.activate {
  color: var(--themeOrange);
}
header .navigation--area .nav--links ul li a.activate::after {
  opacity: 1;
  top: 130%;
}
header .navigation--area .nav--links ul li a::after {
  content: "";
  background: var(--themeOrange);
  opacity: 0;
  height: 5px;
  width: 5px;
  border-radius: 50rem;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -20%);
  transition: all 0.4s cubic-bezier(0.69, 0.18, 0.15, 1.54);
}
header .navigation--area .nav--links ul li a:hover::after {
  opacity: 1;
  top: 130%;
  width: 15px;
}

header .navigation--area .social--links ul {
  display: flex;
  flex-direction: row;
}

header .navigation--area .social--links ul li {
  margin: 0 1rem;
}
header .navigation--area .social--links ul li a i {
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
header .navigation--area .social--links ul li a i#twitter {
  color: var(--twitter);
}
header .navigation--area .social--links ul li a i#github {
  color: var(--github);
}
header .navigation--area .social--links ul li a i#linkedin {
  color: var(--linkedin);
}
/* toogle bars */
header .navigation--area .toggle--bars {
  display: none;
}

/* HEADER CONTENT STYLING */
header .header--content {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
header .header--content .header--image {
  height: 200px;
  width: 250px;
  background: black;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: 1s ease-in-out;
}
header .header--content .header--image:hover {
  border-radius: 1rem;
}
header .header--content .header--image img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  transition: 0.8s ease-in-out;
}
header .header--content .header--image img:hover {
  transform: scale(1.1);
}
header .header--content .header--text--intro {
  height: 100vh;
  /* background: chartreuse; */
  font-family: var(--roboto);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header--content .header--text--intro .header--name {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
header .header--content .header--text--intro .header--sub--intro {
  font-size: 25px;
  color: var(--themeOrange);
}

header .arrow--down i {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}
header .arrow--down i:hover {
  background: #ffecdb;
  color: var(--themeOrange);
  transform: scale(1.06);
}
/* HEADER AREA STYLING END */

/* SECTION--1 START */

/* SECTION--1 END */

/* RESPONSIVE DESING */

/* TABLET SCREEN */
@media only screen and (max-width: 800px) {
  /* SECTION--1 RESPONSIVE */
  section .section--container {
    flex-wrap: wrap;
  }
  section#section--1 .about--me p.section--intro--para {
    margin: 2rem 0rem;
  }
}

/* MOBILE SCREEN */
@media only screen and (max-width: 500px) {
  /* RESPNSIVE NAVGATION */
  header nav.overlay-nav::after {
    content: "";
    background: #00000056;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -3;
    transition: 0.5s ease-in-out;
  }
  header .navigation--area .nav--links ul li {
    margin: 0 !important;
    margin: 3rem 0rem !important;
    text-align: center;
    font-size: 20px;
  }
  header .navigation--area .nav--links ul li a::after {
    display: none;
  }
  header .navigation--area .nav--links ul {
    display: flex;
    flex-direction: column;
  }
  header .navigation--area .nav--link--area {
    background: var(--white);
    position: absolute;
    height: 90vh;
    width: 70%;
    top: 100%;
    border-right: 2px solid var(--github);
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transition: 1s cubic-bezier(0.42, 0, 0, 1.11);
  }

  header .navigation--area .nav--link--area.show {
    left: 0;
  }

  header .navigation--area .nav--link--area .social--links {
    margin: 2rem;
  }
  header .navigation--area .toggle--bars {
    display: initial;
  }
  header .navigation--area .toggle--bars .bar {
    height: 0.2rem;
    width: 30px;
    margin: 0.3rem;
    border-radius: 2px;
    background: var(--github);
  }

  /* RESPONSIVE HEADER SECTION */
  header .header--content .header--text--intro h1.header--name {
    font-size: 45px;
    text-align: center;
  }
}
