@import url("https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900&family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --font-dmSans: "DM Sans", sans-serif;
  --font-archivo: "Archivo", sans-serif;

  /* * Theme Colors */
  --color-primary: oklch(55.8% 0.288 302.321);
  --color-primary-dark: oklch(49.6% 0.265 301.924);
  --color-dark: oklch(14.7% 0.004 49.25);
  --color-white: #ffffff;
}

@layer base {
  body {
    @apply font-dmSans;
  }
  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-5xl/tight font-semibold;
  }

  h3 {
    @apply text-4xl/tight font-semibold;
  }

  button {
    @apply cursor-pointer rounded-full;
  }

  section {
    @apply lg:w-[80%] lg:mx-auto py-8 my-16;
  }
}
