@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --font-dmSans: "DM Sans", sans-serif;

  /* * Theme Colors */
  --color-purple-500: oklch(62.7% 0.265 303.9);
  --color-purple-600: oklch(55.8% 0.288 302.321);
  --color-purple-700: oklch(49.6% 0.265 301.924);
  --color-dark: oklch(14.7% 0.004 49.25);
  --color-white: #ffffff;
}

@layer base {
  body {
    @apply font-dmSans;
  }
  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-5xl/tight font-semibold;
  }

  h3 {
    @apply text-4xl font-semibold;
  }

  button {
    @apply cursor-pointer rounded-full;
  }
}
